<div class="border-r w-64 border-gray-400 h-full shadow py-2">
   <div class="px-3">
      <a href="/admin/posts">
         All posts
      </a>
   </div>
   <div class="px-3">
      <a href="/admin/posts/new">
         Add New
      </a>
   </div>
   <div class="px-3">
      <a href="/admin/categories">
         Categories
      </a>
   </div>
   <div class="px-3">
      <a href="/admin/tags">
         Tags
      </a>
   </div>
</div>
